In [ ]:
##1. Write a program to reverse a string.

In [ ]:
#user input

In [1]:
input_string = input("enter a string:")

enter a string: python

In [ ]:
#reverse string using slicing concept

In [2]:
reversed_string = input_string[::-1]

In [ ]:
#print the result

In [3]:
print("reversed_string" ,reversed_string)

reversed_string nohtyp

In [4]:
##2. Check if a string is a palindrome.

In [ ]:
# Define a function named is_palindrome that takes an input string.

In [ ]:
def is_palindrome(input_string):

In [ ]:
 # Remove spaces from the input string and convert it to lowercase.

In [28]:
input_string = input_string.replace (" " ," ").lower()

In [ ]:
return input_string == input_string[::-1]

In [33]:
user_input = input("enter a string:")

enter a string: data science

In [ ]:
# If the result is True, print that the input string is a palindrome.Otherwise, print that it's not a palindrome.

In [ ]:
if is_palindrome(user_input):

In [ ]:
 print("The input string is a palindrome.")

In [ ]:
else:

In [38]:
 print("The input string is not a palindrome.")

The input string is not a palindrome.

In [ ]:
##3. Convert a string to uppercase.

In [ ]:
#user input

In [52]:
input_string = input("enter a string:")

enter a string: python

In [ ]:
#convert the string to uppercase

In [56]:
uppercase_string = input_string.upper()

In [60]:
print(input_string.upper())

PYTHON

In [61]:
##4. Convert a string to lowercase.

In [ ]:
#user input

In [64]:
input_string = input("enter a string:")

enter a string: PYTHON

In [ ]:
#convert the string to lowercase.

In [63]:
lowercase_string = input_string.lower()

In [65]:
print(input_string.lower())

python

In [ ]:
##5.Count the number of vowels in a string.

In [33]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in string:
        if char in vowels:
            count += 1

    return count

# Example usage:
my_string = "Hello, World!"
vowel_count = count_vowels(my_string)

print("Number of vowels:", vowel_count)

Number of vowels: 3

In [ ]:
##6.Count the number of consonants in a string.

In [34]:
def count_consonants(string):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0

    for char in string:
        if char in consonants:
            count += 1

    return count

# Example usage:
my_string = "Hello, World!"
consonant_count = count_consonants(my_string)

print("Number of consonants:", consonant_count)

Number of consonants: 7

In [16]:
##7. Remove all whitespaces from a string.

In [21]:
original_string="python, program"

In [18]:
no_whitespace_string = original_string.replace(" "," ")

In [22]:
print(no_whitespace_string)

python program

In [1]:
##8Find the length of a string without using the `len()` function.

In [10]:
def calculate_string_length(input_string):
    count=0
    for char in input_string:
        count+=1
    return count

In [13]:
calculate_string_length("hello")

5

In [14]:
##9. Check if a string contains a specific word.

In [23]:
my_string = "I love python"
specific_word="java"

if my_string.find(specific_word)!=-1:
    print(f"the string  contain the word '{specific_word}'.")
else:
    print(f"the string does not contain the word '{specific_word}'.")

the string does not contain the word 'java'.

In [24]:
##10.Replace a word in a string with another word.

In [34]:
original_string="helllo world"
new_string = original_string.replace("Hello" ," hi")
print(new_string)

helllo world

In [35]:
##11. Count the occurrences of a word in a string.

In [36]:
text = "This is a sample sentence. This sentence is just a sample."

In [37]:
word_to_count = "sample"

In [ ]:
# Use the count() method to count occurrences

In [38]:
count=text.count(word_to_count)

In [ ]:
# Print the result

In [40]:
print(f"The word '{word_to_count}' appears {count} times in the text.")

The word 'sample' appears 2 times in the text.

In [41]:
##12. Find the first occurrence of a word in a string.

In [4]:
text = "This is a sample sentence. This sentence is just a sample."
word_to_find = "sample"
position = text.find(word_to_find)

##check if the word was found
if position !=-1:
    print(f"The word '{word_to_find}' first appears at position {position}.")
else:
      print(f"The word '{word_to_find}' was not found in the text.")

The word 'sample' first appears at position 10.

In [ ]:
##13Find the last occurrence of a word in a string.

In [5]:
def find_last_occurrence(string, word):
    last_index = string.rfind(word)
    return last_index


input_string = "This is an example sentence. This sentence contains the word 'sentence'."
search_word = "sentence"

last_occurrence = find_last_occurrence(input_string, search_word)
if last_occurrence != -1:
    print(f"The last occurrence of '{search_word}' is at index {last_occurrence}.")
else:
    print(f"'{search_word}' was not found in the string.")

The last occurrence of 'sentence' is at index 62.

In [8]:
##14Split a string into a list of words.

In [13]:
# Using the split() function with a custom separator
input_string = "my,name,is,deepika"

# Split the string by commas
word_list = input_string.split(',')

# Print the list of words
print(word_list)

['my', 'name', 'is', 'deepika']

In [ ]:
##15Join a list of words into a string.

In [16]:

word_list = ["my", "name", "is", "Deepika"]

# Join the list of words into a string using a space as the separator
resulting_string = " ".join(word_list)

# Print the resulting string
print(resulting_string)

my name is Deepika

In [ ]:
##16 Convert a string where words are separated by spaces to one where wordsare separated by underscores.

In [17]:
# Input string 
input_string = "I love python"

# Replace spaces with underscores
output_string = input_string.replace(" ", "_")

# Print the modified string
print(output_string)

I_love_python

In [18]:
##17Check if a string starts with a specific word or phrase.

In [19]:
input_string="hello,world"

In [20]:
start_word ="hello"

In [23]:
if input_string.startswith(start_word):
    print(f"The string starts with '{start_word}'.")
else:
    print(f"The string does not start with '{start_word}'.")

The string starts with 'hello'.

In [24]:
##18Check if a string ends with a specific word or phrase.

In [30]:
input_string="hello,world"
end_word ="world"
if input_string.endswith(end_word):
    print(f"The string end with '{end_word}'.")
else:
    print(f"The string does not end with '{end_word}'.")

The string end with 'world'.

In [31]:
##19Convert a string to title case (e.g., "hello world" to "Hello World").

In [33]:
input_string = "hello world"

# Convert the string to title case
title_case_string = input_string.title()

# Print the converted string
print(title_case_string)

Hello World

In [34]:
##20Find the longest word in a string.

In [35]:
input_string= "iam starving "

In [36]:
longest_word = max(input_string.split(), key=len)

In [38]:
print("Longest word:", longest_word)

Longest word: starving

In [39]:
##21. Find the shortest word in a string.

In [40]:
input_string ="iam straving"

In [41]:
smallest_word =min(input_string.split(), key=len)

In [43]:
print("smallest word", smallest_word)

smallest word iam

In [44]:
##22.Reverse the order of words in a string.

In [45]:
input_string ="i love python"

In [ ]:
##use slicing to reverse the string

In [58]:
reversed_string = input_string[::-1]

In [59]:
print(reversed_string)

nohtyp evol i

In [ ]:
##23.Check if a string is alphanumeric.

In [36]:
def is_alphanumeric(s):
    return s.isalnum()

# Example usage:
my_string1 = "Hello123"
my_string2 = "Hello, World!"

print(is_alphanumeric(my_string1))  # Output: True
print(is_alphanumeric(my_string2))  # Output: False

True
False

In [ ]:
##24.Check if a string is alphanumeric.

In [61]:
input_string = "Hello2023"

# Check if the string is alphanumeric
if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [ ]:
##25.Extract all digits from a string.

In [63]:
import re

# Input string
input_string = "Hello2023"

# Use regular expression to extract digits
digits = re.findall(r'\d+', input_string)

# Convert the list of digits to a single string
result = ''.join(digits)

# Print the extracted digits
print(result)

2023

In [ ]:
##26.Extract all alphabets from a string.

In [65]:
import re

# Input string
input_string = "Hello2023"

# Use regular expression to extract digits
alphabets = re.findall(r'[a-zA-Z]+', input_string)

# Convert the list of digits to a single string
result = ''.join(alphabets)

# Print the extracted digits
print(result)

Hello

In [66]:
##26Count the number of uppercase letters in a string.

In [9]:
def count_uppercase_letters(string):
    count=0
    for char in string:
        if char.isupper():
            count+=1
    return count

input_string ="hello world"
uppercase_count=count_uppercase_letters(input_string)
print("number of uppercase letters:", uppercase_count)

number of uppercase letters: 0

In [10]:
##27count the number of lowercase letters in a string

In [17]:
def count_lowercase_letters(string):
    count=0
    for char in string:
        if char.islower():
            count+=1
    return count

input_string ="Hello World"
lowercase_count=count_lowercase_letters(input_string)
print("number of lowercase letters:", lowercase_count)

number of lowercase letters: 8

In [1]:
##28. Swap the case of each character in a string.

In [ ]:
def swap_case(string):

In [ ]:
 # Initialize an empty string to store the swapped characters

In [ ]:
 for char in string:

In [ ]:
# Check if the character is uppercase

In [ ]:
if char.isupper():

In [ ]:
 # If it's uppercase, convert it to lowercase and add it to the result string

In [8]:
def swap_case(string):
    # Initialize an empty string to store the swapped characters
    swapped_string = ""

    for char in string:
        # Check if the character is uppercase
        if char.isupper():
            # If it's uppercase convert it to lowercase and add it to the result string
            swapped_string += char.lower()
        # Check if the character is lowercase
        elif char.islower():
              # If it's lowercase convert it to uppercase and add it to the result string
            swapped_string += char.upper()
        else:
            # If it's neither uppercase nor lowercase
            # keep it as it is and add it to the result string
            swapped_string += char

    # Return the final swapped string
    return swapped_string

input_string = "Hello World"
swapped_result = swap_case(input_string)
print("Swapped string:", swapped_result)

Swapped string: hELLO wORLD

In [1]:
##29Remove a specific word from a string.

In [4]:
original_string="Remove a specific word from a string"

In [5]:
word_to_remove="word"

In [9]:
new_string=original_string.replace(word_to_remove, "")

In [10]:
print(new_string)

Remove a specific  from a string

In [11]:
##30Check if a string is a valid email address.

In [27]:
import re

def is_valid_email(email):
    # Define a regular expression pattern for a valid email address
    pattern = r'^[\w\.-]+@[\w\.-]+$'
    
    # Use the re.match() function to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Test the function with an email address
email_to_check = "example@email.com"
if is_valid_email(email_to_check):
    print(f"{email_to_check} is a valid email address.")
else:
    print(f"{email_to_check} is not a valid email address.")

example@email.com is a valid email address.

In [ ]:
##31Extract the username from an email address string.

In [6]:
# Email address
email = "example@email.com"

# Extract the username
username = email.split("@")[0]

# Print the username
print("Username:", username)

Username: example

In [ ]:
##32Replace multiple spaces in a string with a single space.

In [10]:
def replace_multiple_spaces_in_a_string(input_string):
    # Split the input string by spaces and join it with a single space
    return ' '.join(input_string.split())


input_string = "replace   multiple     spaces    in   a string  with single space."
result = replace_multiple_spaces_in_a_string(input_string)
print(result)

replace multiple spaces in a string with single space.

In [ ]:
##33.Replace multiple spaces in a string with a single space.

In [38]:
import re

def replace_multiple_spaces_with_single_space(s):
    return re.sub(r'\s+', ' ', s)

# Example usage:
original_string = "This   is   a   string    with   multiple    spaces."

result_string = replace_multiple_spaces_with_single_space(original_string)
print(result_string)

This is a string with multiple spaces.

In [ ]:
##34.Check if a string is a valid URL.

In [39]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url1 = "https://www.example.com"
url2 = "not_a_valid_url"

print(is_valid_url(url1))  # Output: True
print(is_valid_url(url2))  # Output: False

True
False

In [ ]:
##36.Find the frequency of each character in a string.

In [41]:
def character_frequency(s):
    frequency = {}
    for char in s:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

# Example usage:
my_string = "hello world"
char_frequency = character_frequency(my_string)

for char, count in char_frequency.items():
    print(f"Character: {char}, Frequency: {count}")

Character: h, Frequency: 1
Character: e, Frequency: 1
Character: l, Frequency: 3
Character: o, Frequency: 2
Character:  , Frequency: 1
Character: w, Frequency: 1
Character: r, Frequency: 1
Character: d, Frequency: 1

In [ ]:
##37. Remove all punctuation from a string.

In [12]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation characters
    translator = str.maketrans('', '', string.punctuation)

    # Use translate method to remove punctuation
    return input_string.translate(translator)


input_string = "Hello, World! This is a python code."
result = remove_punctuation(input_string)
print(result)

Hello World This is a python code

In [ ]:
##38. Check if a string contains only digits.

In [13]:
def contains_only_digits(input_string):
    return input_string.isdigit()


string1 = "12345"
string2 = "123abc"

print(contains_only_digits(string1))  # True
print(contains_only_digits(string2))  # False

True
False

In [ ]:
##39Check if a string contains only alphabets.

In [16]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()


string1 = "abc"
string2 = "abc123"

print(contains_only_alphabets(string1))  # True
print(contains_only_alphabets(string2))  # False

True
False

In [ ]:
##40. Convert a string to a list of characters.

In [17]:
input_string = "Hello, World!"
char_list = list(input_string)
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [ ]:
##41.Check if two strings are anagrams.

In [42]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted versions of the strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

print(are_anagrams(string1, string2))  # Output: True
print(are_anagrams(string1, string3))  # Output: False
print(are_anagrams(string1, string4))  # Output: False

True
False
False

In [ ]:
##42.Encode a string using a Caesar cipher.

In [43]:
def caesar_cipher_encode(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            # Determine the case (uppercase or lowercase)
            case = ord('A') if char.isupper() else ord('a')
            # Perform the Caesar cipher shift
            shifted_char = chr((ord(char) - case + shift) % 26 + case)
            result += shifted_char
        else:
            # Preserve non-alphabetic characters
            result += char
    return result

# Example usage:
plaintext = "Hello, World!"
shift_amount = 3

ciphered_text = caesar_cipher_encode(plaintext, shift_amount)
print("Original:", plaintext)
print("Ciphered:", ciphered_text)

Original: Hello, World!
Ciphered: Khoor, Zruog!

In [ ]:
##43.Decode a Caesar cipher encoded string.

In [44]:
def caesar_cipher_decode(ciphertext, shift):
    return caesar_cipher_encode(ciphertext, -shift)

# Example usage:
ciphertext = "Khoor, Zruog!"
shift_amount = 3

decoded_text = caesar_cipher_decode(ciphertext, shift_amount)
print("Original:", ciphertext)
print("Decoded:", decoded_text)

Original: Khoor, Zruog!
Decoded: Hello, World!

In [ ]:
##44.Find the most frequent word in a string.

In [19]:
from collections import Counter
import re

def most_frequent_word(input_string):
    # Tokenize the string into words (split by spaces and remove punctuation)
    words = re.findall(r'\b\w+\b', input_string.lower())

    # Count the frequency of each word using Counter
    word_counts = Counter(words)

    # Find the most common word
    most_common_word, frequency = word_counts.most_common(1)[0]

    return most_common_word, frequency


input_string = "Hiii Hello, world!"
most_common, frequency = most_frequent_word(input_string)
print("Most frequent word:", most_common)
print("Frequency:", frequency)

Most frequent word: this
Frequency: 2

In [ ]:
##45.Find all unique words in a string.

In [20]:
import re

def unique_words(input_string):
    # Tokenize the string into words (split by spaces and remove punctuation)
    words = re.findall(r'\b\w+\b', input_string.lower())

    # Use a set to store unique words
    unique_word_set = set(words)

    return list(unique_word_set)

# Example usage:
input_string = "Hii Hello, world!"
unique_word_list = unique_words(input_string)
print("Unique words:", unique_word_list)

Unique words: ['hello', 'world', 'hii']

In [ ]:
##46.Count the number of syllables in a string.

In [45]:
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    count = 0
    previous_char = ""

    for char in word:
        if char in vowels and previous_char not in vowels:
            count += 1
        previous_char = char

    # Adjust count for words ending in 'e'
    if word.endswith(('e', 'E')) and count > 1:
        count -= 1

    return max(1, count)  # At least one syllable

def count_syllables_in_sentence(sentence):
    words = sentence.split()
    syllable_count = sum(count_syllables(word) for word in words)
    return syllable_count

# Example usage:
my_sentence = "Hello, World! This is an example sentence."
syllable_count = count_syllables_in_sentence(my_sentence)

print("Syllable count:", syllable_count)

Syllable count: 10

In [ ]:
##47. Check if a string contains any special characters.

In [3]:
import re

def contains_special_characters(input_string):
    # Use a regular expression to check for special characters
    return bool(re.search(r'[^A-Za-z0-9]', input_string))


string1 = "HelloWorld123"
string2 = "Hello, World!"

print(contains_special_characters(string1))  # False (no special characters)
print(contains_special_characters(string2))  # True (contains special characters)

False
True

In [4]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if n is a valid index
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]
        # Reconstruct the string
        result = ' '.join(words)
        return result
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test word removal."
n = 3  # Index of the word to remove (0-based)

new_string = remove_nth_word(input_string, n)
print(new_string)

This is a sentence to test word removal.

In [ ]:
##49. Insert a word at the nth position in a string.

In [10]:
def insert_word_at_nth_position(original_string, word_to_insert, n):
    # Check if n is out of bounds
    if n < 0:
        n = 0
    elif n > len(original_string):
        n = len(original_string)
    
    # Insert the word at the nth position
    result = original_string[:n] + word_to_insert + original_string[n:]
    
    return result
original_string = "This code is python."
word_to_insert = "new"
n = 3

result = insert_word_at_nth_position(original_string, word_to_insert, n)
print(result)

Thinews code is python.

In [ ]:
##50.Convert a CSV string to a list of lists.

In [47]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object from the CSV string
    csv_file = StringIO(csv_string)
    
    # Use csv.reader to read the CSV file
    csv_reader = csv.reader(csv_file)
    
    # Convert the CSV reader to a list of lists
    csv_list = [row for row in csv_reader]
    
    return csv_list

# Example usage:
csv_string = "Name,Age,Occupation\nJo,25,Engineer\njii,30,Doctor"
csv_list = csv_string_to_list(csv_string)

for row in csv_list:
    print(row)

['Name', 'Age', 'Occupation']
['Jo', '25', 'Engineer']
['jii', '30', 'Doctor']

In [ ]:
##1. Create a list with integers from 1 to 10.

In [17]:
my_list = list(range(1, 11))

In [ ]:
##2.Find the length of a list without using the `len()` function.

In [19]:
my_list = [1, 2, 3, 4, 5]

# Initialize a counter variable to keep track of the number of elements.
count = 0

# Iterate through the list and increment the counter for each element.
for element in my_list:
    count += 1

# The value of 'count' now represents the length of the list.
print("The length of the list is:", count)

The length of the list is: 5

In [ ]:
##4. Insert an element at a specific index in a list.

In [66]:
my_list = [1, 2, 3, 4, 5]
element_to_insert = 6
index_to_insert_at = 2

my_list.insert(index_to_insert_at, element_to_insert)
print(my_list)

[1, 2, 6, 3, 4, 5]

In [ ]:
##5. Remove an element from a list by its value.

In [64]:
my_list = [1, 2, 3, 4, 5]
value_to_remove = 3

my_list.remove(value_to_remove)
print(my_list)

[1, 2, 4, 5]

In [ ]:
##6.Remove an element from a list by its index.

In [65]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2

removed_element = my_list.pop(index_to_remove)
print(my_list)

[1, 2, 4, 5]

In [ ]:
##7.Check if an element exists in a list.

In [27]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

element_exists = False
for item in my_list:
    if item == element_to_check:
        element_exists = True
        break

if element_exists:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [ ]:
##8.Find the index of the first occurrence of an element in a list.

In [28]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_find = 3

if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not in the list.")

The first occurrence of 3 is at index 2.

In [ ]:
##9.Count the occurrences of an element in a list.

In [30]:
my_list = [1, 2, 3, 4, 3, 5, 3]
element_to_count = 3

count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 3 times in the list.

In [ ]:
##10.Reverse the order of elements in a list.

In [63]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
###11.Sort a list in ascending order.

In [60]:
my_list = [5, 2, 8, 1, 3]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 3, 5, 8]

In [ ]:
###12.Sort a list in descending order.

In [67]:
my_list = [5, 2, 8, 1, 3]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[8, 5, 3, 2, 1]

In [ ]:
##13.Create a list of odd numbers from 1 to 20.

In [69]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
##14.Create a list of even numbers from 1 to 20.

In [75]:
even_numbers = []
for x in range(2, 21, 2):
    even_numbers.append(x)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
##15.Find the sum of all elements in a list.

In [77]:
my_list = [1, 2, 3, 4, 5]
total_sum = sum(my_list)
print(total_sum)

15

In [ ]:
##16.Find the maximum value in a list.

In [78]:
my_list = [10, 5, 8, 20, 3]
max_value = max(my_list)
print(max_value)

20

In [ ]:
##17Find the minimum value in a list.

In [79]:
my_list = [10, 5, 8, 20, 3]
min_value = min(my_list)
print(min_value)

3

In [ ]:
##18.Create a list of squares of numbers from 1 to 10.

In [80]:
squares_list = [x ** 2 for x in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
##19. Create a list of random numbers.

In [82]:
import random

# Define the range for random numbers (e.g., between 1 and 100)
start_range = 1
end_range = 100

# Specify the number of random numbers you want in the list
num_random_numbers = 10

# Create a list of random integers
random_numbers = [random.randint(start_range, end_range) for _ in range(num_random_numbers)]
print(random_numbers)

[47, 14, 47, 23, 100, 74, 34, 2, 74, 95]

In [ ]:
##20.Remove duplicates from a list.

In [84]:
original_list = [1, 2, 2, 3, 4, 4, 5]

# Initialize a new list to store unique values
unique_list = []

# Iterate through the original list
for item in original_list:
    if item not in unique_list:
        unique_list.append(item)

# unique_list now contains the original list with duplicates removed
print(unique_list)

[1, 2, 3, 4, 5]

In [ ]:
##21.Find the common elements between two lists.

In [86]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = set(list1)
set2 = set(list2)

common_elements = list(set1.intersection(set2))
print(common_elements)

[3, 4, 5]

In [ ]:
##22.Find the difference between two lists.

In [2]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = [item for item in list1 if item not in list2]
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = set(list1)
set2 = set(list2)

difference = list(set1.difference(set2))
print(difference)

[1, 2]

In [3]:
##23Merge two lists.

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
print(merged_list)
#using + operator

[1, 2, 3, 4, 5, 6]

In [ ]:
##24.Multiply all elements in a list by 2

In [5]:
original_list = [1, 2, 3, 4, 5]

# Using a list comprehension to multiply each element by 2
multiplied_list = [x * 2 for x in original_list]
print(multiplied_list)

[2, 4, 6, 8, 10]

In [ ]:
##25.Filter out all even numbers from a list.

In [6]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using a list comprehension to filter out even numbers
filtered_list = [x for x in original_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5, 7, 9]

In [7]:
##26.Convert a list of strings to a list of integers.

In [8]:
string_list = ["1", "2", "3", "4", "5"]

# Using a list comprehension to convert strings to integers
integer_list = [int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

In [ ]:
##27.Convert a list of integers to a list of strings.

In [9]:
integer_list = [1, 2, 3, 4, 5]

# Using a list comprehension to convert integers to strings
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

In [ ]:
##28.Flatten a nested list.

In [15]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Using list comprehension to flatten the nested list
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
##28.Create a list of the first 10 Fibonacci numbers.

In [17]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    for i in range(2, n):
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
##29.Check if a list is sorted.

In [18]:
def is_sorted(lst):
    return all(lst[i] <= lst[i+1] for i in range(len(lst)-1))


sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 2, 8, 1, 3]

print(is_sorted(sorted_list))   # Output: True
print(is_sorted(unsorted_list)) # Output: False

True
False

In [ ]:
##30.Create a list of the first 10 Fibonacci numbers

In [19]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    for i in range(2, n):
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
##31.Rotate a list to the left by `n` positions.

In [20]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    for i in range(2, n):
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
##32.Rotate a list to the right by `n` positions.

In [21]:
def rotate_right(lst, n):
    # Use slicing to rotate the list to the right
    return lst[-n:] + lst[:-n]

# Example usage:
original_list = [1, 2, 3, 4, 5]
n_positions = 2

rotated_list = rotate_right(original_list, n_positions)
print(rotated_list)

[4, 5, 1, 2, 3]

In [ ]:
##33.Create a list of prime numbers up to 50.

In [22]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers_up_to_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
##34.Split a list into chunks of size `n`.

In [23]:
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunks = split_into_chunks(original_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
##35.Find the second largest number in a list.

In [25]:
def second_largest(lst):
    sorted_list = sorted(set(lst), reverse=True)
    return sorted_list[1] if len(sorted_list) > 1 else None

# Example usage:
my_list = [5, 2, 8, 1, 3, 10]
result = second_largest(my_list)
print(result)

8

In [ ]:
##36.Replace every element in a list with its square.

In [26]:
original_list = [1, 2, 3, 4, 5]

# Using a list comprehension to replace each element with its square
squared_list = [x ** 2 for x in original_list]

print(squared_list)

[1, 4, 9, 16, 25]

In [ ]:
##37.Convert a list to a dictionary where list elements become keys and theirindices become values.

In [27]:
original_list = ['apple', 'banana', 'orange', 'grape']

# Using a dictionary comprehension to convert the list to a dictionary
result_dict = {element: index for index, element in enumerate(original_list)}

print(result_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [ ]:
##38.Shuffle the elements of a list randomly.

In [28]:
import random

original_list = [1, 2, 3, 4, 5]

# Shuffle the list in-place
random.shuffle(original_list)

print(original_list)

[4, 5, 3, 2, 1]

In [ ]:
##39.Create a list of the first 10 factorial numbers.

In [29]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [30]:
##40.Check if two lists have at least one element in common.

In [31]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if the lists have at least one element in common
common_elements_exist = any(element in list1 for element in list2)

print(common_elements_exist)

True

In [ ]:
##41.Remove all elements from a list.

In [32]:
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list by assigning an empty list
my_list = []

print(my_list)

[]

In [ ]:
##42.Replace negative numbers in a list with 0.

In [48]:
def replace_negatives_with_zero(lst):
    return [max(0, num) for num in lst]

# Example usage:
original_list = [1, -2, 3, -4, 5, -6]
modified_list = replace_negatives_with_zero(original_list)

print("Original List:", original_list)
print("Modified List:", modified_list)

Original List: [1, -2, 3, -4, 5, -6]
Modified List: [1, 0, 3, 0, 5, 0]

In [ ]:
##43.Convert a string into a list of words.

In [49]:
def string_to_list_of_words(s):
    return s.split()

# Example usage:
my_string = "This is a sample string."

word_list = string_to_list_of_words(my_string)
print(word_list)

['This', 'is', 'a', 'sample', 'string.']

In [ ]:
##44.Convert a list of words into a string.

In [50]:
def list_of_words_to_string(word_list):
    return ' '.join(word_list)

# Example usage:
my_word_list = ['This', 'is', 'a', 'sample', 'string.']

result_string = list_of_words_to_string(my_word_list)
print(result_string)

This is a sample string.

In [ ]:
##45.Create a list of the first `n` powers of 2.

In [51]:
def powers_of_two(n):
    return [2 ** i for i in range(n)]

# Example usage:
n = 5

powers_list = powers_of_two(n)
print(powers_list)

[1, 2, 4, 8, 16]

In [ ]:
##46.Find the longest string in a list of strings.

In [52]:
def longest_string(strings):
    return max(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

longest = longest_string(string_list)
print("Longest string:", longest)

Longest string: strawberry

In [ ]:
##47.Find the shortest string in a list of strings.

In [53]:
def shortest_string(strings):
    return min(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

shortest = shortest_string(string_list)
print("Shortest string:", shortest)

Shortest string: kiwi

In [ ]:
##48.Create a list of the first `n` triangular numbers.

In [54]:
def triangular_numbers(n):
    return [sum(range(1, i + 1)) for i in range(1, n + 1)]

# Example usage:
n = 5

triangular_list = triangular_numbers(n)
print(triangular_list)

[1, 3, 6, 10, 15]

In [ ]:
##49.Check if a list contains another list as a subsequence.

In [55]:
def is_subsequence(sublist, sequence):
    # Iterator for the subsequence
    sub_iter = iter(sublist)

    # Check if each element in the subsequence is in the sequence
    return all(item in sequence for item in sub_iter)

# Example usage:
sequence = [1, 2, 3, 4, 5, 6, 7]
subsequence1 = [2, 4, 6]
subsequence2 = [1, 3, 7]

print(is_subsequence(subsequence1, sequence))  # Output: True
print(is_subsequence(subsequence2, sequence))  # Output: False

True
True

In [ ]:
##50.Swap two elements in a list by their indices.

In [56]:
def swap_elements(lst, index1, index2):
    # Check if indices are within the bounds of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap elements at index1 and index2
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices.")

# Example usage:
my_list = [1, 2, 3, 4, 5]

print("Original List:", my_list)

# Swap elements at index 1 and index 3
swap_elements(my_list, 1, 3)

print("List after swapping:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

In [ ]:
##1.Create a tuple with integers from 1 to 5.

In [58]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
##2.Access the third element of a tuple.

In [59]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print(third_element)

3

In [ ]:
##3.Find the length of a tuple without using the `len()` function.

In [60]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0

for _ in my_tuple:
    tuple_length += 1

print(tuple_length)

5

In [ ]:
##4.Count the occurrences of an element in a tuple.

In [61]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2

element_count = my_tuple.count(element_to_count)

print(f"The element {element_to_count} appears {element_count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [ ]:
##5.Find the index of the first occurrence of an element in a tuple.

In [62]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_find = 2

element_index = my_tuple.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {element_index}.")

The first occurrence of 2 is at index 1.

In [ ]:
##6.Check if an element exists in a tuple.

In [63]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [ ]:
##7.Convert a tuple to a list.

In [64]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
##8.Convert a list to a tuple.

In [66]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
##9.Unpack the elements of a tuple into variables.

In [67]:
my_tuple = (1, 2, 3, 4, 5)
var1, var2, var3, var4, var5 = my_tuple

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

1
2
3
4
5

In [68]:
##10.Create a tuple of even numbers from 1 to 10.

In [71]:
even_numbers_tuple = (2, 4, 6, 8, 10)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [ ]:
##11.Create a tuple of odd numbers from 1 to 10.

In [72]:
odd_numbers_tuple = (1, 3, 5, 7, 9)
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [73]:
##12.Concatenate two tuples.

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [75]:
##13.Repeat a tuple three times.

In [76]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
##14.Check if a tuple is empty.

In [1]:
my_tuple = ()  # An empty tuple

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [2]:
##15.Create a nested tuple.

In [3]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [4]:
##16.Access the first element of a nested tuple.

In [5]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Access the first element of the nested tuple in one line
first_element_nested = nested_tuple[0][0]

print(first_element_nested)

1

In [6]:
##17.Create a tuple with a single element.

In [8]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

In [9]:
##18.Compare two tuples.

In [11]:
tuple3 = (4, 5, 6)
tuple1 = (1, 2, 3)

# Check if tuple1 is less than tuple3
if tuple1 < tuple3:
    print("tuple1 is less than tuple3.")
else:
    print("tuple1 is not less than tuple3.")

tuple1 is less than tuple3.

In [12]:
##19.Delete a tuple.

In [19]:
my_tuple = (1, 2, 3, 4, 5)

# Output the original tuple
print("Original Tuple:", my_tuple)

# Delete the entire tuple
del my_tuple

# Try to access the tuple after deletion (will raise an error)
# print(my_tuple)  # this line will result in an error
print(my_tuple)

Original Tuple: (1, 2, 3, 4, 5)

NameError: name 'my_tuple' is not defined

In [ ]:
##20.Slice a tuple.

In [25]:
my_tuple = (2021,2022,2023)
# Slice from the beginning to index 3 (exclusive)
sliced_tuple_start = my_tuple[:3]

# Slice from index 5 to the end
sliced_tuple_end = my_tuple[5:]

print("Sliced Tuple (from the beginning):", sliced_tuple_start)
print("Sliced Tuple (to the end):", sliced_tuple_end)

Sliced Tuple (from the beginning): (2021, 2022, 2023)
Sliced Tuple (to the end): ()

In [ ]:
##21.Find the maximum value in a tuple.

In [26]:
tuple_of_tuples = ((1, 5), (3, 8), (2, 12))

# Find the maximum value based on the second element of each inner tuple
max_value_based_on_second_element = max(tuple_of_tuples, key=lambda x: x[1])

print("Original Tuple of Tuples:", tuple_of_tuples)
print("Maximum Value based on the second element:", max_value_based_on_second_element)

Original Tuple of Tuples: ((1, 5), (3, 8), (2, 12))
Maximum Value based on the second element: (2, 12)

In [27]:
##22.Find the maximum value in a tuple.

In [28]:
tuple_of_tuples = ((1, 5), (3, 8), (2, 12))

# Find the maximum value based on the second element of each inner tuple
max_value_based_on_second_element = max(tuple_of_tuples, key=lambda x: x[1])

print("Original Tuple of Tuples:", tuple_of_tuples)
print("Maximum Value based on the second element:", max_value_based_on_second_element)

Original Tuple of Tuples: ((1, 5), (3, 8), (2, 12))
Maximum Value based on the second element: (2, 12)

In [ ]:
##23.Find the minimum value in a tuple.

In [30]:
tuple_of_tuples = ((1, 5), (3, 8), (2, 12))

# Find the minimum value based on the second element of each inner tuple
min_value_based_on_second_element = min(tuple_of_tuples, key=lambda x: x[1])

print("Original Tuple of Tuples:", tuple_of_tuples)
print("Minimum Value based on the second element:", min_value_based_on_second_element)

Original Tuple of Tuples: ((1, 5), (3, 8), (2, 12))
Minimum Value based on the second element: (1, 5)

In [ ]:
##24.Convert a tuple of characters to a string.

In [31]:
tuple_of_mixed_types = ('a', 1, 'b', 2, 'c', 3)

# Convert the tuple of mixed types to a string
result_string_mixed = ''.join(str(item) for item in tuple_of_mixed_types)

print("Tuple of Mixed Types:", tuple_of_mixed_types)
print("Resulting String:", result_string_mixed)

Tuple of Mixed Types: ('a', 1, 'b', 2, 'c', 3)
Resulting String: a1b2c3

In [ ]:
##25.Create a tuple from multiple data types.

In [33]:
mixed_tuple = (1, 'hello', 3.14, True, [5, 6, 7])

print("Mixed Data Type Tuple:", mixed_tuple)
print("First element:", mixed_tuple[0])      # Output: 1
print("Second element:", mixed_tuple[1])     # Output: 'hello'
print("Last element:", mixed_tuple[-1])      # Output: [5, 6, 7]

Mixed Data Type Tuple: (1, 'hello', 3.14, True, [5, 6, 7])
First element: 1
Second element: hello
Last element: [5, 6, 7]

In [34]:
##26.Check if two tuples are identical.

In [36]:
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 3, 4)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

In [37]:
##27.Sort the elements of a tuple.

In [38]:
original_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Create a new tuple with sorted elements
sorted_tuple = tuple(sorted(original_tuple))

print("Original Tuple:", original_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted Tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [ ]:
##28.Convert a tuple of integers to a tuple of strings.

In [39]:
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(map(str, tuple_of_integers))

print("Original Tuple of Integers:", tuple_of_integers)
print("Converted Tuple of Strings:", tuple_of_strings)

Original Tuple of Integers: (1, 2, 3, 4, 5)
Converted Tuple of Strings: ('1', '2', '3', '4', '5')

In [40]:
##29.Convert a tuple of strings to a tuple of integers.

In [41]:
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(map(int, tuple_of_strings))

print("Original Tuple of Strings:", tuple_of_strings)
print("Converted Tuple of Integers:", tuple_of_integers)

Original Tuple of Strings: ('1', '2', '3', '4', '5')
Converted Tuple of Integers: (1, 2, 3, 4, 5)

In [42]:
##30.Merge two tuples.

In [44]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Merge the two tuples
merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

In [45]:
##31.Flatten a nested tuple.

In [47]:
def flatten_nested_tuple(nested_tuple):
    flattened_tuple = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_tuple += flatten_nested_tuple(item)
        else:
            flattened_tuple += (item,)
    return flattened_tuple

# Example of a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Flatten the nested tuple
flattened_tuple = flatten_nested_tuple(nested_tuple)

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

In [48]:
##32.Create a tuple of the first 5 prime numbers.

In [49]:
first_five_primes = (2, 3, 5, 7, 11)

print("First Five Prime Numbers:", first_five_primes)

First Five Prime Numbers: (2, 3, 5, 7, 11)

In [50]:
##33.Check if a tuple is a palindrome.

In [51]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

# Example of a tuple that is a palindrome
palindrome_tuple = (1, 2, 3, 2, 1)

# Example of a tuple that is not a palindrome
non_palindrome_tuple = (1, 2, 3, 4, 5)

print("Is the first tuple a palindrome?", is_palindrome(palindrome_tuple))
print("Is the second tuple a palindrome?", is_palindrome(non_palindrome_tuple))

Is the first tuple a palindrome? True
Is the second tuple a palindrome? False

In [ ]:
##34.Create a tuple of squares of numbers from 1 to 5.

In [52]:
squares_tuple = tuple(x**2 for x in range(1, 6))

print("Tuple of Squares:", squares_tuple)

Tuple of Squares: (1, 4, 9, 16, 25)

In [ ]:
##35.Filter out all even numbers from a tuple.

In [53]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original Tuple:", original_tuple)
print("Filtered Tuple (Odd numbers only):", filtered_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered Tuple (Odd numbers only): (1, 3, 5, 7, 9)

In [ ]:
##36.Multiply all elements in a tuple by 2.

In [54]:
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2
multiplied_tuple = tuple(x * 2 for x in original_tuple)

print("Original Tuple:", original_tuple)
print("Multiplied Tuple:", multiplied_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Multiplied Tuple: (2, 4, 6, 8, 10)

In [55]:
##37.Create a tuple of random numbers.

In [56]:
import random

# Generate a tuple of 5 random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print("Random Tuple:", random_tuple)

Random Tuple: (50, 2, 7, 76, 32)

In [57]:
##38.Check if a tuple is sorted.

In [58]:
def is_sorted(my_tuple):
    return my_tuple == tuple(sorted(my_tuple))

# Example of a sorted tuple
sorted_tuple = (1, 2, 3, 4, 5)

# Example of an unsorted tuple
unsorted_tuple = (5, 3, 1, 4, 2)

print("Is the first tuple sorted?", is_sorted(sorted_tuple))
print("Is the second tuple sorted?", is_sorted(unsorted_tuple))

Is the first tuple sorted? True
Is the second tuple sorted? False

In [59]:
##39.Rotate a tuple to the left by `n` positions.

In [60]:
def rotate_left(my_tuple, n):
    length = len(my_tuple)
    n = n % length  # Ensure n is within the length of the tuple
    rotated_tuple = my_tuple[n:] + my_tuple[:n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated_tuple = rotate_left(original_tuple, 2)

print("Original Tuple:", original_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (3, 4, 5, 1, 2)

In [ ]:
##40.Rotate a tuple to the right by `n` positions.

In [62]:
def rotate_right(my_tuple, n):
    length = len(my_tuple)
    n = n % length  # Ensure n is within the length of the tuple
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
rotated_tuple = rotate_right(original_tuple, 2)

print("Original Tuple:", original_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (4, 5, 1, 2, 3)

In [63]:
##41.Create a tuple of the first 5 Fibonacci numbers.

In [64]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        fibonacci_numbers.append(fibonacci_numbers[-1] + fibonacci_numbers[-2])
    return tuple(fibonacci_numbers)

# Create a tuple of the first 5 Fibonacci numbers
first_five_fibonacci = generate_fibonacci(5)

print("First 5 Fibonacci Numbers:", first_five_fibonacci)

First 5 Fibonacci Numbers: (0, 1, 1, 2, 3)

In [65]:
##42.Create a tuple from user input.

In [66]:
# Get user input for each element of the tuple
element1 = input("Enter the first element: ")
element2 = input("Enter the second element: ")
element3 = input("Enter the third element: ")

# Create a tuple from user input
user_input_tuple = (element1, element2, element3)

print("User Input Tuple:", user_input_tuple)

Enter the first element:  12
Enter the second element:  13
Enter the third element:  14

User Input Tuple: ('12', '13', '14')

In [67]:
##43.Swap two elements in a tuple.

In [69]:
def swap_elements(my_tuple, index1, index2):
    # Convert the tuple to a list
    mutable_list = list(my_tuple)
    
    # Swap the elements in the list
    mutable_list[index1], mutable_list[index2] = mutable_list[index2], mutable_list[index1]
    
    # Convert the list back to a tuple
    swapped_tuple = tuple(mutable_list)
    
    return swapped_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Swap elements at index 1 and 3
swapped_tuple = swap_elements(original_tuple, 1, 3)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [70]:
##44.Reverse the elements of a tuple.

In [72]:
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple in-place using a list
reversed_list = list(original_tuple)
reversed_list.reverse()
reversed_tuple = tuple(reversed_list)

print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [73]:
##45.Create a tuple of the first `n` powers of 2.

In [75]:
n = 5  # Change this to the desired number of powers

powers_of_two = tuple(2 ** i for i in range(n))

print(f"Tuple of the first {n} powers of 2:", powers_of_two)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [76]:
##46.Find the longest string in a tuple of strings.

In [77]:
my_tuple = ('apple', 'banana', 'orange', 'strawberry', 'kiwi')

# Find the longest string in the tuple
longest_string = max(my_tuple, key=len)

print("Original Tuple of Strings:", my_tuple)
print("Longest String:", longest_string)

Original Tuple of Strings: ('apple', 'banana', 'orange', 'strawberry', 'kiwi')
Longest String: strawberry

In [ ]:
##47.Find the shortest string in a tuple of strings.

In [78]:
my_tuple = ('apple', 'banana', 'orange', 'strawberry', 'kiwi')

# Find the shortest string in the tuple
shortest_string = min(my_tuple, key=len)

print("Original Tuple of Strings:", my_tuple)
print("Shortest String:", shortest_string)

Original Tuple of Strings: ('apple', 'banana', 'orange', 'strawberry', 'kiwi')
Shortest String: kiwi

In [ ]:
##48.Create a tuple of the first `n` triangular numbers.

In [79]:
n = 5  # Replace with the desired number of triangular numbers

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of Triangular Numbers:", triangular_numbers_tuple)

Tuple of Triangular Numbers: (1, 3, 6, 10, 15)

In [ ]:
##49.Check if a tuple contains another tuple as a subsequence.

In [80]:
def is_subsequence(sub, my_tuple):
    sub_len = len(sub)
    for i in range(len(my_tuple) - sub_len + 1):
        if my_tuple[i:i + sub_len] == sub:
            return True
    return False

# Example tuples
larger_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
smaller_tuple = (3, 4, 5)

# Check if smaller_tuple is a subsequence of larger_tuple
result = is_subsequence(smaller_tuple, larger_tuple)

print("Larger Tuple:", larger_tuple)
print("Smaller Tuple:", smaller_tuple)
print("Is Smaller Tuple a Subsequence?", result)

Larger Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Smaller Tuple: (3, 4, 5)
Is Smaller Tuple a Subsequence? True

In [81]:
##50.Create a tuple of alternating 1s and 0s of length `n`.

In [82]:
n = 8  # Replace with the desired length

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print("Alternating Tuple:", alternating_tuple)

Alternating Tuple: (1, 0, 1, 0, 1, 0, 1, 0)

In [ ]:
####Set Based Practice Problem#####

In [83]:
##1Create a set with integers from 1 to 5.

In [85]:
my_set = set([1, 2, 3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [86]:
##2.Add an element to a set.

In [87]:
my_set = {1, 2, 3, 4, 5}

# Adding an element to the set
my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [88]:
##3.Remove an element from a set.

In [89]:
my_set = {1, 2, 3, 4, 5}

# Removing an element from the set
my_set.remove(3)

print(my_set)

{1, 2, 4, 5}

In [ ]:
##4.Check if an element exists in a set.

In [90]:
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [91]:
##5.Find the length of a set without using the `len()` function.

In [92]:
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
set_length = 0
for _ in my_set:
    set_length += 1

print("Length of the set:", set_length)

Length of the set: 5

In [93]:
##6.Clear all elements from a set.

In [94]:
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

In [ ]:
##7.Create a set of even numbers from 1 to 10.

In [95]:
even_numbers_set = set(range(2, 11, 2))
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [96]:
##8.Create a set of odd numbers from 1 to 10.

In [97]:
odd_numbers_set = set(range(1, 11, 2))
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
###9.Find the union of two sets.

In [98]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using union() method
union_set_method = set1.union(set2)
print("Union using union() method:", union_set_method)

# Using | operator
union_set_operator = set1 | set2
print("Union using | operator:", union_set_operator)

Union using union() method: {1, 2, 3, 4, 5, 6, 7}
Union using | operator: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
##10.Find the intersection of two sets.

In [99]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using intersection() method
intersection_set_method = set1.intersection(set2)
print("Intersection using intersection() method:", intersection_set_method)

# Using & operator
intersection_set_operator = set1 & set2
print("Intersection using & operator:", intersection_set_operator)

Intersection using intersection() method: {3, 4, 5}
Intersection using & operator: {3, 4, 5}

In [ ]:
##11.Find the difference between two sets.

In [100]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using difference() method
difference_set_method = set1.difference(set2)
print("Difference using difference() method:", difference_set_method)

# Using - operator
difference_set_operator = set1 - set2
print("Difference using - operator:", difference_set_operator)

Difference using difference() method: {1, 2}
Difference using - operator: {1, 2}

In [ ]:
##12.Check if a set is a subset of another set.

In [101]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issubset() method
is_subset_method = set2.issubset(set1)
print("Using issubset() method:", is_subset_method)

# Using <= operator
is_subset_operator = set2 <= set1
print("Using <= operator:", is_subset_operator)

Using issubset() method: True
Using <= operator: True

In [ ]:
##13.Check if a set is a superset of another set.

In [102]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issuperset() method
is_superset_method = set1.issuperset(set2)
print("Using issuperset() method:", is_superset_method)

# Using >= operator
is_superset_operator = set1 >= set2
print("Using >= operator:", is_superset_operator)

Using issuperset() method: True
Using >= operator: True

In [ ]:
##14.create a set from a list

In [2]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# Creating a set from the list
my_set = set(my_list)

# Displaying the set
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
##15.Convert a set to a list.

In [3]:
# Sample set
my_set = {1, 2, 3, 4, 5}

# Converting the set to a list
my_list = list(my_set)

# Displaying the list
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
##16.Remove a random element from a set.

In [4]:
# Sample set
my_set = {1, 2, 3, 4, 5}

# Removing a random element
removed_element = my_set.pop()

# Displaying the updated set and the removed element
print("Updated Set:", my_set)
print("Removed Element:", removed_element)

Updated Set: {2, 3, 4, 5}
Removed Element: 1

In [ ]:
##17. Pop an element from a set.

In [6]:
# Sample set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Displaying the updated set and the popped element
print("Updated Set:", my_set)
print("Popped Element:", popped_element)

Updated Set: {2, 3, 4, 5}
Popped Element: 1

In [ ]:
##18.Check if two sets have no elements in common

In [7]:
# Sample sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

# Display the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

In [8]:
##19.Find the symmetric difference between two sets

In [9]:
# Sample sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference using the method
symmetric_diff = set1.symmetric_difference(set2)

# Display the result
print("Symmetric Difference:", symmetric_diff)

Symmetric Difference: {1, 2, 5, 6}

In [10]:
##20.Update a set with elements from another set

In [11]:
# Initial sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

# Display the updated set1
print("Updated Set1:", set1)

Updated Set1: {1, 2, 3, 4, 5}

In [ ]:
##21.Create a set of the first 5 prime numbers

In [13]:
# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

# Display the set
print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [14]:
##22.Check if two sets are identical

In [16]:
# Sample sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if the sets are identical
are_identical = set1 == set2

# Display the result
print("Are the sets identical?", are_identical)

Are the sets identical? True

In [17]:
##23.Create a frozen set

In [18]:
# Create a frozen set
my_frozen_set = frozenset([1, 2, 3, 4, 5])

# Display the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [1]:
##24.Check if a set is disjoint with another set.

In [3]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
disjoint_check = set1.isdisjoint(set2)

# Print 
print(disjoint_check)

True

In [4]:
##25.Filter out all even numbers from a set.

In [7]:
# Original set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use filter() to filter out even numbers
filtered_set = set(filter(lambda x: x % 2 != 0, original_set))

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

In [ ]:
##27.Multiply all elements in a set by 2.

In [8]:
# Original set
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
new_set = {x * 2 for x in original_set}

# Print the new set
print(new_set)

{2, 4, 6, 8, 10}

In [10]:
##28.Create a set of random numbers.

In [12]:
import random

# Generate a set of 5 random numbers between 1 and 10
random_set = set(random.sample(range(1, 11), 5))

# Print the random set
print(random_set)

{2, 5, 6, 8, 10}

In [17]:
##29.Check if a set is empty.

In [19]:
# Define a set
my_set = set()

# Check if the set is empty
if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [22]:
##30.Create a nested set (hint: use frozenset).

In [24]:
# Create a nested frozenset directly
nested_set = frozenset([
    frozenset({1, 2, 3}),
    frozenset({4, 5, 6}),
    frozenset({7, 8, 9})
])

# Print the nested set
print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

In [ ]:
##31.remove an element from a set using discard method

In [25]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Remove the element 3 using the discard method
my_set.discard(3)

# Print the modified set
print(my_set)

{1, 2, 4, 5}

In [26]:
##32.compare two sets

In [28]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [29]:
##33.create a set from string

In [32]:
# Create a set from a string
my_string = "hello"
my_set = set(my_string)

# Print the set
print(my_set)

{'e', 'o', 'h', 'l'}

In [33]:
##34.Convert a set of strings to a set of integers.

In [35]:
# Set of strings
set_of_strings = {'1', '2', '3', '4', '5'}

# Convert the set of strings to a set of integers
set_of_integers = set(map(int, set_of_strings))

# Print the set of integers
print(set_of_integers)

{1, 2, 3, 4, 5}

In [36]:
##35.Convert a set of integers to a set of strings.

In [38]:
# Set of integers
set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = set(map(str, set_of_integers))

# Print the set of strings
print(set_of_strings)

{'1', '2', '5', '3', '4'}

In [39]:
##36.Create a set from a tuple.

In [41]:
# Tuple of elements
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

In [42]:
##37.Convert a set to a tuple.

In [44]:
# Set of elements
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [45]:
##38.Find the maximum value in a set.

In [47]:
# Set of elements
my_set = {4, 8, 2, 10, 5}

# Convert the set to a list and find the maximum value
max_value = max(list(my_set))

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 10

In [48]:
##39.Find the minimum value in a set.

In [50]:
# Set of elements
my_set = {4, 8, 2, 10, 5}

# Convert the set to a list and find the minimum value
min_value = min(list(my_set))

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 2

In [51]:
##40.Create a set from user input.

In [54]:
# Take user input for elements (comma-separated)
user_input = input("Enter elements for the set (comma-separated): ")

# Split the input string into a list and convert it to a set
user_set = set(user_input.split(','))

# Print the set
print("User set:", user_set)

Enter elements for the set (comma-separated):  4,7

User set: {'4', '7'}

In [ ]:
##41.Check if the intersection of two sets is empty.

In [56]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The sets have no common elements (intersection is empty).")
else:
    print("The sets have common elements.")

The sets have no common elements (intersection is empty).

In [57]:
##42.Create a set of the first 5 Fibonacci numbers.

In [59]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(5)

# Print the set
print("Set of the first 5 Fibonacci numbers:", fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [60]:
##43.Remove duplicates from a list using sets.

In [62]:
# Original list with duplicates
original_list = [1, 2, 2, 3, 4, 4, 5]

# Use a set to remove duplicates
unique_list = list(set(original_list))

# Print the unique list
print("Original list:", original_list)
print("List with duplicates removed:", unique_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

In [63]:
##44.Check if two sets have the same elements, regardless of their count.

In [65]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [66]:
##45.Create a set of the first `n` powers of 2.

In [70]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    return {2**i for i in range(n)}

# Specify the value of n
n = 5

# Create a set of the first n powers of 2
powers_of_2_set = generate_powers_of_2(n)

# Print the set
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [71]:
##46.Find the common elements between a set and a list.

In [73]:
# Define a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using the intersection method
common_elements = my_set.intersection(my_list)

# Print the common elements
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [74]:
##47.Create a set of the first `n` triangular numbers.

In [77]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    return {(i * (i + 1)) // 2 for i in range(1, n + 1)}

# Specify the value of n
n = 5

# Create a set of the first n triangular numbers
triangular_numbers_set = generate_triangular_numbers(n)

# Print the set
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [78]:
##48.Check if a set contains another set as a subset.

In [80]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [81]:
##49.Create a set of alternating 1s and 0s of length `n`.

In [83]:
# Function to generate a set of alternating 1s and 0s
def generate_alternating_set(n):
    return {i % 2 for i in range(n)}

# Specify the value of n
n = 8

# Create a set of alternating 1s and 0s
alternating_set = generate_alternating_set(n)

# Print the set
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 8: {0, 1}

In [84]:
##50.Merge multiple sets into one.

In [86]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using the union method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}